/*!
    @import /amethyst_input/src/bindings.rs#Bindings, StringBindings
    Bindings<StringBindings>
*/

(
  axes: {
    "move_tank": Emulated(pos: Key(W), neg: Key(S)),
    "rotate_sideways": Emulated(pos: Key(A), neg: Key(D)),
  },
  actions: {},
)