#![enable(implicit_some)]

Prefab (
    entities: [
        (
            data: (
                light: (
                    ambient_color: (Rgba(1.0, 1.0, 1.0, 1.0)),
                    light: Point((
                        intensity: 10.0,
                        color: (1.0, 1.0, 1.0, 1.0),
                        radius: 100.0,
                    )),
                ),
            ),
        ),
    ],
)